<div class="container mat-app-background" fxLayout="column">
  <header>
    <h1 class="mat-display-3">Changelog generator</h1>
  </header>
  <main fxFlex>
    <div class="card">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2rem">
        <h1>Start out by telling us some things</h1>
        <!--        <img *ngIf="packLogo$|async" [src]="packLogo$ | async" alt="Pack Logo">-->
      </div>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="packForm">
          <form [formGroup]="packForm">
            <ng-template matStepLabel
              >Tell us which pack we're working on</ng-template
            >
            <mat-progress-bar
              [mode]="progress$ | async"
            ></mat-progress-bar>
            <mat-form-field>
              <mat-label>API Url</mat-label>
              <input
                matInput
                formControlName="apiUrl"
                required
                pattern="http:\/\/api.technicpack.net\/modpack\/([a-z\-0-9])+\/?"
              />
              <mat-hint
                >Should look like
                http://api.technicpack.net/modpack/[yourpack]</mat-hint
              >
              <mat-error *ngIf="packForm.invalid">{{
                getErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext [disabled]="packForm.invalid">
                Continue
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Select the builds to compare</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Look at the changes</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </main>
  <footer fxLayout="row" fxLayoutAlign="center">
    <p>Coded by Lukas</p>
  </footer>
</div>
